# Rename this file to .env and fill in your Supabase credentials
SUPABASE_DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=

PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=